### IntelliJ IDEA ###
out/
!**/src/main/**/out/
!**/src/test/**/out/

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store

## ignore test save files
save0.txt
save1.txt
save2.txt
save3.txt
save4.txt
save5.txt
save6.txt
save7.txt
save8.txt
save9.txt
New game 10.txt
New game 11.txt
New game 12.txt
New game 13.txt
New game 14.txt
New game 15.txt
New game 16.txt
New game 17.txt
notes.odt
ideas.odt
notes.odt
ideas.odt

TO DO.txt